body {
    text-align: center;
    font-size:20px;
    color:white;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.nEGDlVRkLrbQRzyKrvrkoAHaEm&pid=Api);
}
h3 {
    color:white;
    text-align: left;
    font-size: 20px;
}
h2 {
    text-align: left;
}
